<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="locationService.back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>

<form class="form" [formGroup]="form">
  <p class="form__title">
    {{ this.subject ? 'Update subject' : 'Add new subject' }}
  </p>

  <mat-form-field class="form__field" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" autocomplete="off" />
  </mat-form-field>

  <ng-container *ngIf="!subject">
    <mat-form-field class="form__field" appearance="outline">
      <mat-label>Upload a JPG image</mat-label>
      <ngx-mat-file-input
        (change)="fileChangeEvent($event)"
        required
      ></ngx-mat-file-input>
    </mat-form-field>

    <div class="cropper-container" *ngIf="croppedImage || imageChangedEvent">
      <ng-container *ngIf="imageChangedEvent">
        <image-cropper
          class="cropper-container__cropper"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="2 / 1"
          format="png"
          (imageCropped)="imageCropped($event)"
        >
        </image-cropper>
      </ng-container>

      <img class="cropper-container__cropped-image" [src]="croppedImage" />
    </div>
  </ng-container>

  <mat-form-field class="form__field" appearance="outline">
    <mat-label>Reponsible teacher's email</mat-label>
    <input
      matInput
      type="text"
      formControlName="responsibleEmail"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field class="form__field" appearance="outline">
    <mat-label>Curriculum</mat-label>
    <mat-select formControlName="curriculum">
      <mat-option value="DP">DP</mat-option>
      <mat-option value="MYP">MYP</mat-option>
      <mat-option value="Other">Other</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-slide-toggle class="toggle" formControlName="archived" *ngIf="subject">{{
    this.form.value.archived ? 'Archived' : 'Unarchived'
  }}</mat-slide-toggle>

  <button
    mat-raised-button
    [disabled]="
      (form.pristine || !form.valid || !croppedImage) &&
      (form.pristine || !form.valid || !subject?.photoURL)
    "
    (click)="submit()"
  >
    Save
  </button>
</form>
