.toolbar {
  background-color: #303030;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 70px auto;
  &__title {
    text-align: center;
    font-size: 56px;
    margin: 0 0 56px 0;
  }
  &__field {
    margin: 0 0 20px 0;
  }
}

.cropper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__cropper {
    width: 50%;
    margin: 0 0 20px 0;
  }
  &__cropped-image {
    width: 50%;
    margin: 0 0 20px 0;
    border: 0.1px solid white;
  }
}

.toggle {
  margin: 0 0 20px 0;
}

.field {
  margin: 0 0 30px 0;
  &__area {
    height: 400px;
  }
}
