<div class="container">
  <p class="container__title">Verification</p>

  <p class="container__sub-title">What you can do when you are verified</p>

  <div class="list">
    <div class="list-item">
      <div class="list-item-left">
        <img class="list-item-left__image" src="/assets/images/reading.svg">
      </div>
      <div class="list-item-right">
        <p class="list-item-right__text">You will be able to edit explanations, add contents and create lessons.</p>
      </div>
    </div>

    <div class="list-item">
      <div class="list-item-left">
        <img class="list-item-left__image" src="/assets/images/experts.svg">
      </div>
      <div class="list-item-right">
        <p class="list-item-right__text">You will be a verified members and you will work with teachers to develop the
          service.</p>
      </div>
    </div>
  </div>

  <button mat-raised-button *ngIf="verificationRequests?.includes(user.uid) && !user?.verified" color="warn"
  (click)="cancelRequest()">Cancel request</button>

  <button mat-raised-button *ngIf="!verificationRequests?.includes(user.uid) && !user?.verified"
    (click)="sendVerificationRequest()">Ask for verification</button>

  <button mat-raised-button *ngIf="user?.verified">Already verified</button>
</div>
