<mat-toolbar class="toolbar">
  <span>{{ subject?.name }} | Director: {{ subject?.responsibleEmail }}</span>
  <span class="toolbar__spacer"></span>
  <button
    mat-icon-button
    routerLink="/add-subject"
    [queryParams]="{ id: subject?.id }"
    *ngIf="
      authService.user?.isAdministrator === true ||
      authService.user?.isDeveloper === true
    "
  >
    <mat-icon>edit</mat-icon>
  </button>
</mat-toolbar>

<app-cards-list
  class="cards-list"
  [lessons]="lessons"
  *ngIf="!initialLoading"
></app-cards-list>

<div class="spinner-container" *ngIf="initialLoading">
  <mat-spinner></mat-spinner>
</div>
