<div class="first">
  <div class="first-image-container">
    <img
      class="first-image-container__image"
      src="/assets/images/meeting.svg"
    />
  </div>
  <div class="-first-text-container">
    <p class="first-text-container__title">Share knowledge</p>
    <p class="first-text-container__text1">
      There are many videos and explanations.
    </p>
    <p class="first-text-container__text2">
      If you have anything add, ask teachers for the access.
    </p>
  </div>
</div>

<div class="second">
  <div class="second-text-container">
    <p class="second-text-container__title">Teach others</p>
    <p class="second-text-container__text1">
      You can teach others indirectly through writing and sharing what you know
      and have learned in the past.
    </p>
  </div>
  <div class="second-image-container">
    <img
      class="second-image-container__image"
      src="/assets/images/teacher.svg"
    />
  </div>
</div>

<div class="third">
  <div class="third-image-container">
    <img
      class="third-image-container__image"
      src="/assets/images/studying.svg"
    />
  </div>
  <div class="-third-text-container">
    <p class="third-text-container__title">
      Access to it anytime for as long as you want
    </p>
    <p class="third-text-container__text1">
      There are resources available anytime.
    </p>
    <p class="third-text-container__text2">
      If you have any doubt, you can refer back to the videos and look at
      explanation.
    </p>
  </div>
</div>
