<div class="container" *ngIf="requestingUsers?.length && !initialLoading">
  <p class="container__title">Requesting users</p>
  <div class="requesting-users">
    <div *ngFor="let requestingUser of requestingUsers" class="requesting-user">

      <img class="requesting-user__image" src="{{requestingUser.photoURL}}" routerLink="/account"
        [queryParams]="{id: requestingUser.uid}">

      <a class="requesting-user__name" routerLink="/account"
        [queryParams]="{id: requestingUser.uid}">{{requestingUser.displayName}}</a>

      <ng-container *ngIf="user.verified">
        <button mat-stroked-button class="requesting-user__update-button" color="primary"
          (click)="verifyUser(requestingUser.uid)">Verify</button>
        <button mat-stroked-button color="warn" (click)="cancelRequest(requestingUser.uid)">Remove</button>
      </ng-container>

    </div>
  </div>
</div>

<div class="no-requests-container" *ngIf="!requestingUsers?.length && !initialLoading">
  <p class="no-requests-container__title">No requesting users</p>
  <img class="no-requests-container__image" src="/assets/images/queue.svg">
</div>

<div class="spinner-container" *ngIf="initialLoading">
  <mat-spinner></mat-spinner>
</div>
