<mat-toolbar>
  <button mat-icon-button (click)="navigateBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/create-lesson" [queryParams]="{id: lesson?.id}" *ngIf="user.verified">
    <mat-icon>edit</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <div class="vimeo">
    <iframe [src]="safePlayerUrl" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <p class="container__title">{{lesson?.title}}</p>
  <div class="row">
    <p class="row__date">Published on {{lesson?.date.toDate() | date: 'yyyy/MM/dd'}}</p>
    <span class="row__spacer"></span>
    <button mat-button class="row__button" *ngIf="!listItemIds?.includes(lesson.id)" (click)="addToList()">
      <mat-icon>add</mat-icon>
      <span>Add to list</span>
    </button>
    <button mat-button class="row__button" *ngIf="listItemIds?.includes(lesson.id)" (click)="removeFromList()">
      <mat-icon>remove</mat-icon>
      <span>Remove from list</span>
    </button>
  </div>

  <mat-divider></mat-divider>
  <div class="creater">
    <img class="creater__account-image" src="{{ creater?.photoURL }}" routerLink="/account"
      [queryParams]="{ id: creater?.uid }">
    <a class="creater__name" routerLink="/account" [queryParams]="{ id: creater?.uid }">{{creater?.displayName}}</a>
  </div>
  <mat-divider></mat-divider>
  <div class="explanation" [innerHTML]="safeHtml"></div>
</div>
