<div class="container" *ngIf="!initialLoading">
  <mat-toolbar class="container__toolbar">
    <span>Leclass</span>
    <span class="container__spacer"></span>
    <button mat-flat-button>About</button>
  </mat-toolbar>
  <h1 class="container__title">Leclass</h1>
  <button class="login" (click)="login()" *ngIf="!(user$ | async)">
    Login with Google
  </button>
  <button class="login" (click)="goHome()" *ngIf="(user$ | async)">
    Already logged in
  </button>
</div>


<div class="spinner-container" *ngIf="initialLoading">
  <mat-spinner></mat-spinner>
</div>
