<div class="container" *ngIf="!initialLoading">
  <h1 class="container__title">Leclass</h1>
  <form class="form" (ngSubmit)="checkPass()" *ngIf="!user && locked">
    <mat-form-field class="form__field" appearance="outline">
      <mat-label>Enter password</mat-label>
      <input matInput type="text" [formControl]='enteredPassword' autocomplete="off">
    </mat-form-field>
    <button mat-fab (click)="checkPass()" matSuffix>
      <mat-icon>check</mat-icon>
    </button>
  </form>
  <button class="login" (click)="login()" *ngIf="!user && !locked">
    Login with Google
  </button>
  <button class="login" (click)="goHome()" *ngIf="user">
    Go to the top page
  </button>
</div>
<svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#222222" fill-opacity="1"
    d="M0,64L34.3,101.3C68.6,139,137,213,206,208C274.3,203,343,117,411,112C480,107,549,181,617,213.3C685.7,245,754,235,823,213.3C891.4,192,960,160,1029,176C1097.1,192,1166,256,1234,261.3C1302.9,267,1371,213,1406,186.7L1440,160L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
  </path>
</svg>

<div class="spinner-container" *ngIf="initialLoading">
  <mat-spinner></mat-spinner>
</div>
