<mat-toolbar class="toolbar">
  <button mat-icon-button class="toolbar__menu-button" (click)="toggleSidenav()" matTooltip="close or open side bar">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="toolbar__title" routerLink="/">Leclass</a>
  <form class="search-bar" (ngSubmit)="routeSearch(valueControl.value)">
    <mat-form-field class="search-bar__field" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput type="text" [formControl]="valueControl" autocomplete="off" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="directSearch($event.option?.value)">
        <mat-option *ngFor="let option of options" [value]="option.id">
          {{option.title}}
        </mat-option>
      </mat-autocomplete>
      <button mat-button matSuffix mat-icon-button (click)="routeSearch(valueControl.value)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <!-- <form [formGroup]="form">
    <mat-form-field class="toolbar__selector" appearance="legacy">
      <mat-label>Select course</mat-label>
      <mat-select formControlName="course">
        <mat-option value="DP">DP</mat-option>
        <mat-option value="MYP">MYP</mat-option>
      </mat-select>
    </mat-form-field>
  </form> -->
  <p class="toolbar__verified" *ngIf="user?.verified" matTooltip="You are verified">Verified</p>
  <img class="toolbar__account-image" src="{{user?.photoURL}}" [matMenuTriggerFor]="menu">
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/account" [queryParams]="{id: user?.uid}">
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sidenav mode="side" [opened]="isShowing">
    <mat-nav-list *ngIf="form.value.course === 'DP'">
      <div mat-subheader>DP subjects</div>
      <a mat-list-item class="sidenav-item" routerLink="/languageandliterature-sl">
        <img class="sidenav-item__image" src="/assets/icons/english.svg">
        <span>Language & Literature SL</span>
      </a>
      <a mat-list-item class="sidenav-item" class="sidenav-item" routerLink="/japanese-sl">
        <img class="sidenav-item__image" src="/assets/icons/japanese.svg">
        <span>Japanese SL</span>
      </a>
      <a mat-list-item class="sidenav-item" routerLink="/analysisandapproaches-hl">
        <img class="sidenav-item__image" src="/assets/icons/math.svg">
        <span>Analysis & Approaches HL</span>
      </a>
      <a mat-list-item class="sidenav-item" routerLink="/physics-hl">
        <img class="sidenav-item__image" src="/assets/icons/science.svg">
        <span>Physics HL</span>
      </a>
      <a mat-list-item class="sidenav-item" routerLink="/computerscience-hl">
        <img class="sidenav-item__image" src="/assets/icons/cs.svg">
        <span>Compouter Science HL</span>
      </a>
      <a mat-list-item class="sidenav-item" routerLink="/economics-sl">
        <img class="sidenav-item__image" src="/assets/icons/economics.svg">
        <span>Economics SL</span>
      </a>
      <a mat-list-item class="sidenav-item" routerLink="/theoryofknowledge">
        <img class="sidenav-item__image" src="/assets/icons/tok.svg">
        <span>Theory of Knowledge</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item class="sidenav-item" *ngIf="user?.verified" routerLink="/create-lesson">
        <mat-icon class="sidenav-item__icon">add</mat-icon>
        <span>Create lesson</span>
      </a>
      <a mat-list-item class="sidenav-item" *ngIf="!user?.verified" routerLink="/verification">
        <mat-icon class="sidenav-item__icon">group_add</mat-icon>
        <span>Verification</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item class="sidenav-item" *ngIf="user?.verified && verificationRequests?.length"
        routerLink="/verification-requests">
        <mat-icon class="sidenav-item__icon">group_add</mat-icon>
        <span matBadge="{{verificationRequests.length}}" matBadgeOverlap="false">Verification requests</span>
      </a>
      <a mat-list-item class="sidenav-item" *ngIf="user?.verified && !verificationRequests?.length"
        routerLink="/verification-requests">
        <mat-icon class="sidenav-item__icon">group_add</mat-icon>
        <span>Verification requests</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item class="sidenav-item" routerLink="/list" [queryParams]="{id: user?.uid}">
        <mat-icon class="sidenav-item__icon">list</mat-icon>
        <span>List</span>
      </a>
      <a mat-list-item class="sidenav-item" routerLink="/account" [queryParams]="{id: user?.uid}">
        <mat-icon class="sidenav-item__icon">person</mat-icon>
        <span>Account</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item class="sidenav-item" routerLink="/about">
        <mat-icon class="sidenav-item__icon">info</mat-icon>
        <span>About</span>
      </a>
      <a mat-list-item class="sidenav-item" routerLink="/report">
        <mat-icon class="sidenav-item__icon">report</mat-icon>
        <span>Report</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
