<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="toolbar__title" routerLink="/">Leclass</a>
  <mat-form-field class="toolbar__search-bar" appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput type="text" [formControl]="valueControl" autocomplete="off">
    <button mat-button matSuffix mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <form [formGroup]="form">
    <mat-form-field class="toolbar__selector" appearance="legacy">
      <mat-label>Select course</mat-label>
      <mat-select formControlName="course">
        <mat-option value="DP">DP</mat-option>
        <mat-option value="MYP">MYP</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <img class="toolbar__account-image" src="{{user?.photoURL}}" [matMenuTriggerFor]="menu">
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/account" [queryParams]="{id: user?.uid}">
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sidenav mode="side" [opened]="isShowing">
    <mat-nav-list *ngIf="form.value.course === 'DP'">
      <div mat-subheader>DP subjects</div>
      <a mat-list-item routerLink="/languageandliterature-sl">
        Language & Literature SL
      </a>
      <a mat-list-item routerLink="/japanese-sl">
        Japanese SL
      </a>
      <a mat-list-item routerLink="/analysisandapproaches-hl">
        Analysis & Approaches HL
      </a>
      <a mat-list-item routerLink="/physics-hl">
        Physics HL
      </a>
      <a mat-list-item routerLink="/computerscience-hl">
        Compouter Science HL
      </a>
      <a mat-list-item routerLink="/economics-sl">
        Economics SL
      </a>
      <a mat-list-item routerLink="/theoryofknowledge">
        Theory of Knowledge
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item *ngIf="user?.verified" routerLink="/create-lesson">
        Create lesson
      </a>
      <a mat-list-item *ngIf="user?.verified">
        Verification requests
      </a>
      <a mat-list-item *ngIf="!user?.verified" routerLink="/verification">
        Verification
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/about">
        About
      </a>
      <a mat-list-item routerLink="/account" [queryParams]="{id: user?.uid}">
        Account
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="form.value.course === 'MYP'">
      <div mat-subheader>MYP subjects</div>
      <a mat-list-item>
        Literature
      </a>
      <a mat-list-item>
        French
      </a>
      <a mat-list-item>
        Math
      </a>
      <a mat-list-item>
        Humanities
      </a>
      <a mat-list-item>
        Science
      </a>
      <a mat-list-item>
        PHE
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item *ngIf="user?.verified" routerLink="/create-lesson">
        Create lesson
      </a>
      <a mat-list-item *ngIf="user?.verified">
        Verification requests
      </a>
      <a mat-list-item *ngIf="!user?.verified" routerLink="/verification">
        Verification
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/about">
        About
      </a>
      <a mat-list-item routerLink="/account" [queryParams]="{id: user?.uid}">
        Account
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
