<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    class="toolbar__menu-button"
    (click)="toggleSidenav()"
    matTooltip="close or open side bar"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a class="toolbar__title" routerLink="/">Leclass</a>
  <form class="search-bar" (ngSubmit)="routeSearch(valueControl.value)">
    <mat-form-field class="search-bar__field" appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        type="text"
        [formControl]="valueControl"
        autocomplete="off"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="directSearch($event.option?.value)"
      >
        <mat-option *ngFor="let option of options" [value]="option.id">
          {{ option.title }}
        </mat-option>
      </mat-autocomplete>
      <button
        mat-button
        matSuffix
        mat-icon-button
        (click)="routeSearch(valueControl.value)"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <p
    class="verified-label"
    *ngIf="user?.isTeacher || user?.isAdministrator || user?.isDeveloper"
    matTooltip="You are verified"
  >
    <span class="verified-label__text">Verified</span>
    <mat-icon class="verified-label__icon">verified</mat-icon>
  </p>
  <img
    class="toolbar__account-image"
    src="{{ user?.photoURL }}"
    [matMenuTriggerFor]="menu"
  />
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      routerLink="/account"
      [queryParams]="{ id: user?.uid }"
    >
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sidenav mode="side" [opened]="isShowing">
    <mat-nav-list>
      <div mat-subheader>DP subjects</div>
      <ng-container *ngFor="let subject of subjects | async">
        <a
          mat-list-item
          class="sidenav-item"
          routerLink="/subject"
          [queryParams]="{ id: subject.id }"
          *ngIf="!subject.archived && subject.curriculum === 'DP'"
        >
          <span>{{ subject.name }}</span>
        </a>
      </ng-container>
      <div mat-subheader>MYP subjects</div>
      <ng-container *ngFor="let subject of subjects | async">
        <a
          mat-list-item
          class="sidenav-item"
          routerLink="/subject"
          [queryParams]="{ id: subject.id }"
          *ngIf="!subject.archived && subject.curriculum === 'MYP'"
        >
          <span>{{ subject.name }}</span>
        </a>
      </ng-container>
      <a
        mat-list-item
        class="sidenav-item"
        routerLink="/add-subject"
        *ngIf="
          user?.email === 'baron.naoki.g@gmail.com' ||
          user?.email === 'naokigoto@woodstock.ac.in'
        "
      >
        <mat-icon class="sidenav-item__icon">add</mat-icon>
        <span>Add new subject</span>
      </a>
      <mat-divider></mat-divider>
      <a
        mat-list-item
        class="sidenav-item"
        *ngIf="user?.isTeacher || user?.isAdministrator || user?.isDeveloper"
        routerLink="/create-lesson"
      >
        <mat-icon class="sidenav-item__icon">add</mat-icon>
        <span>Create lesson</span>
      </a>
      <a
        mat-list-item
        class="sidenav-item"
        *ngIf="!user?.isTeacher && !user?.isAdministrator && !user?.isDeveloper"
        routerLink="/verification"
      >
        <mat-icon class="sidenav-item__icon">group_add</mat-icon>
        <span>Verification</span>
      </a>
      <mat-divider></mat-divider>
      <a
        mat-list-item
        class="sidenav-item"
        *ngIf="
          user?.isTeacher ||
          user?.isAdministrator ||
          (user?.isDeveloper && verificationRequests?.length)
        "
        routerLink="/verification-requests"
      >
        <mat-icon class="sidenav-item__icon">group_add</mat-icon>
        <span
          matBadge="{{ verificationRequests.length }}"
          matBadgeOverlap="false"
          >Verification requests</span
        >
      </a>
      <a
        mat-list-item
        class="sidenav-item"
        *ngIf="
          user?.isTeacher ||
          user?.isAdministrator ||
          (user?.isDeveloper && !verificationRequests?.length)
        "
        routerLink="/verification-requests"
      >
        <mat-icon class="sidenav-item__icon">group_add</mat-icon>
        <span>Verification requests</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item class="sidenav-item" routerLink="/list">
        <mat-icon class="sidenav-item__icon">list</mat-icon>
        <span>List</span>
      </a>
      <a
        mat-list-item
        class="sidenav-item"
        *ngIf="user?.isTeacher || user?.isAdministrator || user?.isDeveloper"
        routerLink="/drafts"
      >
        <mat-icon class="sidenav-item__icon">edit</mat-icon>
        <span>Drafts</span>
      </a>
      <a
        mat-list-item
        class="sidenav-item"
        routerLink="/account"
        [queryParams]="{ id: user?.uid }"
      >
        <mat-icon class="sidenav-item__icon">person</mat-icon>
        <span>Account</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item class="sidenav-item" routerLink="/archived-courses">
        <mat-icon class="sidenav-item__icon">archive</mat-icon>
        <span>Archived courses</span>
      </a>
      <a mat-list-item class="sidenav-item" routerLink="/about">
        <mat-icon class="sidenav-item__icon">info</mat-icon>
        <span>About</span>
      </a>
      <a mat-list-item class="sidenav-item" routerLink="/report">
        <mat-icon class="sidenav-item__icon">report</mat-icon>
        <span>Report</span>
      </a>
      <a
        mat-list-item
        class="sidenav-item"
        *ngIf="user?.isTeacher || user?.isAdministrator || user?.isDeveloper"
        routerLink="/reports"
      >
        <mat-icon class="sidenav-item__icon">build</mat-icon>
        <span>Reports</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
