.toolbar {
  background-color: #303030;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 60px auto;
  width: 80%;
}

.account-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px 0;
  &__account-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 8px gray;
  }
}

.cropper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__cropper {
    width: 50%;
    margin: 0 0 20px 0;
  }
  &__cropped-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 8px gray;
    margin: 0 0 20px 0;
  }
}

.editor {
  margin: 0 0 20px 0;
}
