@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  background-color: #303030;
}

.warn {
  color: white;
  background-color: #F44335;
}

.ql-toolbar {
  background-color: gray;
}
